@use '../../styles/global' as *;


.header-top-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-top {
  display: flex;
  align-items: center;
  height: 37px;
  border-bottom: 1px solid #ececec;
  color: #7e7e7e;
  font-size: 13px;
  font-weight: 400;
  font-family: $font-secondary;

  &-left {
    display: flex;
    align-items: center;
  }

  &-right {
    display: flex;
    align-items: center;

    .phone-link {
      color: $color-primary;
    }

    .select-box {
      margin-left: 5px;
      padding: 0 8px;
      border-left: 1px solid #dedfe2;

      select {
        border: none;
        outline: none;
        color: #7e7e7e;
      }
    }
  }

  &__link-box:not(:first-child) {
    margin-left: 20px;
    padding: 0 10px;
    border-left: 1px solid #dedfe2;
  }
}