/* FONTS */
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Quicksand:wght@300..700&display=swap");

$font-primary: "Quicksand", sans-serif;
$font-secondary: "Lato", sans-serif;

/* COLORS */
$color-primary: #3bb77e;
$main-text-color: #253d4e;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: $font-primary;
  color: $main-text-color;
  background-color: #fff;
}
.container {
  width: 100%;
  max-width: 1310px;
  margin: 0 auto;
  padding: 0 60px;
}

img {
  max-width: 100%;
  height: auto;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  background-color: transparent;
  color: inherit;
}

/* Header styles */
.header-top-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-top {
  display: flex;
  align-items: center;
  height: 37px;
  border-bottom: 1px solid #ececec;
  color: #7e7e7e;
  font-size: 13px;
  font-weight: 400;
  font-family: $font-secondary;

  &-left {
    display: flex;
    align-items: center;
  }

  &-right {
    display: flex;
    align-items: center;

    .phone-link {
      color: $color-primary;
    }

    .select-box {
      margin-left: 5px;
      padding: 0 8px;
      border-left: 1px solid #dedfe2;

      select {
        border: none;
        outline: none;
        color: #7e7e7e;
      }
    }
  }

  &__link-box:not(:first-child) {
    margin-left: 20px;
    padding: 0 10px;
    border-left: 1px solid #dedfe2;
  }
}
